@media (prefers-color-scheme: light) {
  :where(:root) {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :where(:root) {
    background-color: black;
    color: white;
  }
}
