/*! sanitize.css v0.0.1 | MIT License */

/* ==================================
   Sanitize the canvas
   ================================== */

* {
	background: none;
	border: 0 solid;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
	vertical-align: baseline;
}

html {
	cursor: default;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
}

/* ==================================
   Normalize the rest
   ================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
	outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover {
	outline: 0;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
	white-space: pre;
	white-space: pre-wrap;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
	overflow: hidden;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/*
 * Improves most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}